<?xml version="1.0" encoding="UTF-8"?>
<?pcf-stylesheet path="/_resources/xsl/interior.xsl" title="Interior Page" extension="html"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd"> 

<document xmlns:ouc="http://omniupdate.com/XSL/Variables">
	
	<headcode></headcode> <!-- before closing head tag -->
	<bodycode></bodycode> <!-- after opening body tag -->
	<footcode><script>
$(document).ready(function(){
   $("#contactForm").submit(function(e){
       $.post("/_resources/php/email.php", { name: $("#name").val(), email: $("#email").val(), "message": $("#message").val() })
        .done(function( data ) {
            $("#success").html(data);
        });
		$('#contactForm')[0].reset();
       e.preventDefault();
   });
});
</script></footcode> <!-- before closing body tag -->
	
	<ouc:properties label="config">
		<parameter name="breadcrumb" type="text" group="Everyone" prompt="Page Breadcrumb" alt="Used to calculate page title. Index pages use local _props.pcf breadcrumb.">Contact</parameter>
		<parameter name="layout" type="select" group="Everyone" prompt="Page Layout" alt="Select a page layout.">
<option value="full-width" selected="false">Full Width</option>
<option value="two-column" selected="true">Two Column</option>
</parameter>
		<parameter name="gallery-type" type="select" group="Everyone" prompt="Gallery" alt="Select an LDP type to display, if a gallery asset is added to page.">
<option value="pretty" selected="false">Pretty Photo</option>
</parameter>
	</ouc:properties>
	
	<ouc:div label="maincontent" group="Everyone" button-text="Main Content">
		<ouc:editor csspath="/_resources/ou/editor/interior.css" cssmenu="/_resources/ou/editor/styles.txt" wysiwyg-class="maincontent"/>
		<form name="sentMessage" class="well" id="contactForm">
			<legend class="sr-only">Contact Us</legend>
			<div class="control-group">
				<div class="controls">
					<input type="text" class="form-control" placeholder="Full Name" id="name" required="true" data-validation-required="required" message="Please enter your name"/><p class="help-block"></p>
				</div>
			</div>
			<div class="control-group">
				<div class="controls"><input type="email" class="form-control" placeholder="Email" id="email" required="true" data-validation-required="required" message="Please enter your email"/></div>
			</div>
			<div class="control-group">
				<div class="controls">
					<textarea rows="10" cols="100" class="form-control" placeholder="Message" id="message" required="true" data-validation-required="required" message="Please enter your message" minlength="5" data-validation-minlength-message="Min 5 characters" maxlength="999" style="resize:none"></textarea>
				</div>
			</div>
			<div id="success">&nbsp;</div>
			<button type="submit" class="btn btn-primary pull-right">Send</button><br/>
		</form>
</ouc:div>
</document>
